// #app {
//   width: 100%;
//   min-height: 100%;
// }

.firstImage {
  width: 100%;
  background-color: antiquewhite;

  img {
    width: 100%;
  }
}

.secondImage {
  width: 100%;
  background-color: aquamarine;

  img {
    width: 100%;
  }
}
